@CHARSET "UTF-8";

#header {
	position: relative;
	margin: 0 auto;
	background-color: rgb(255,192,203);
	width: 1200px;
	/* width:200%; */
	height: 87px;
	padding: auto;
}

#header h1 {
	position: absolute;
	/*	left: 1px;
	top: 2px;*/
	left: -5px;
	top: 0;
}

#container {
	background: #FFF url(../img/tatuo2.jpg) no-repeat;
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px;
	background: url(../images/common/bg_wrapper.gif) repeat-y;
	width: 960px;
	z-index: 50;
}

#home #wrapper {
	padding: 0 1px;
	background: url(../images/top/bg_wrapper.gif) repeat-y;
}

/* メインカラム
------------------------------------------------------*/
#mainCol {
	float: none;
	margin: 0 auto;
	padding: 0 0 30px 0;
	width: 1025px;
	min-height: 400px;
	background-color: rgba(255,192,203,0.6);
	border-radius: 8px;
}

#mainCol a:link {
	color: #F00;
}

#mainCol a:visited {
	color: #F00;
}

#mainCol a:hover {
	color: #FCC;
}

#mainCol a:active {
	color: #FCC;
}

#home #mainCol {
	float: left;
	padding: 10px;
	width: 736px;
	background-color: inherit;
}

/* グローバルナビ
/* ------------------------------------------------------*/
#gnavi {
	position: absolute;
	left: 171px;
	top: 50px;
	width: 805px;
}

#gnavi li {
	float: left;
	padding: 0 1px 0 0;
}

#gnavi li a {
	display: block;
	/* background: url(../img/hidechannel.png) no-repeat; */
	background-color: #ffc0cb;
	/* width: 112px; */
	width: 197px;
	height: 32px;
	/* text-indent: -9999px; */
}
/* ホーム */
a#home {
	position: absolute;
	top: 0;
	left: 660px;
	display: block;
	width: 86px;
	height: 27px;
	background: url(../images/common/btn_home.jpg) no-repeat;
	text-indent: -9999px;
}

a#home:hover {
	background-position: right;
}
/* ABOUT */
#gnavi li.gn-about a {
	background-position: 0 0;
}

#about #gnavi li.gn-abou a, #gnavi li.gn-about a:hover {
	background-position: 0 -32px;
}
/* ニュース */
#gnavi li.gn-news a {
	background-position: -113px 0;
}

#news #gnavi li.gn-news a /*,
#gnavi li.gn-news a:hover*/ {
	background-position: -113px -32px;
}
/* ゲーム */
#gnavi li.gn-game a {
	background-position: -226px 0;
}

#game #gnavi li.gn-game a /*,
#gnavi li.gn-game a:hover*/ {
	background-position: -226px -32px;
}
/* グッズ */
#gnavi li.gn-goods a {
	background-position: -339px 0;
}

#goods #gnavi li.gn-goods a /*,
#gnavi li.gn-goods a:hover*/ {
	background-position: -339px -32px;
}

/* コミュニティ */
#gnavi li.gn-commu a {
	background-position: -452px 0;
}

#commu #gnavi li.gn-commu a /*,
#gnavi li.gn-commu a:hover*/ {
	background-position: -452px -32px;
}

/* ムービー */
#gnavi li.gn-movie a {
	background-position: -452px 0;
}

#movie #gnavi li.gn-movie a /*,
#gnavi li.gn-movie a:hover*/ {
	background-position: -452px -32px;
}
/* イベント */
#gnavi li.gn-event a {
	background-position: -565px 0;
}

#event #gnavi li.gn-event a /*,
#gnavi li.gn-event a:hover*/ {
	background-position: -565px -32px;
}
/* テイルズメンバーズ */
#gnavi li.gn-member a {
	background-position: -678px 0;
}

#member #gnavi li.gn-member a /*,
#gnavi li.gn-member a:hover*/ {
	background-position: -678px -32px;
}

#home #gnavi li.gn-home a, #news #gnavi li.gn-news a, #game #gnavi li.gn-game a,
	#goods #gnavi li.gn-goods a, #commu #gnavi li.gn-commu a, #event #gnavi li.gn-event a,
	#member #gnavi li.gn-member a {
	cursor: text;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}


h1 {
	text-align: center;
	background-color: #ffc0cb;
	font-weight: bold;
	font-size: 100%;
	height: 100%;
}

#kuri{
	width: 300px;
	margin: auto;
}

table#login {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

table.table-design {
	background-color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	width: 180%;
	height: 80%;
	border-spacing: 0;
}

.parent {
	padding: 10px;
	text-align: center;
	width: 400px;
}

.inner {
	display: inline-block;
	padding: 10px;
}

.tablecell {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 400px;
	height: 250px;
	margin: 20px;
}