@CHARSET "UTF-8";

body {
	background: #111;
	color: #000;
	font-size: 13px;
	font-family: "ヒラギノ角ゴ Pro W3", "Osaka", "メイリオ", "ＭＳ Ｐゴシック", Arial, sans-serif;
	line-height: 1.5em;
}
a {	text-decoration: underline; outline:none;}
a:link		{ color: #C00; }
a:visited	{ color: #C00; }
a:hover		{ color: #F66; }
a:active	{ color: #F66; }

/* ヘッダー
------------------------------------------------------*/
#header {
	position: relative;
	margin: 0 auto;
	background: url(../img/tuo.jpg) no-repeat;
	width: 962px;
	height: 87px;
}
#service #header {
	position: relative;
	margin: 0 auto;
	background: url(../img/taso.jpg) no-repeat;
	width: 962px;
	height: 87px;
}

#header h1 {
	position: absolute;
/*	left: 1px;
	top: 2px;*/
	left: -5px;
	top: 0;
}

#whats {
	position: absolute;
	left: 747px;
	top: 0;
	display: block;
	background: url(../img/taso.jpg) no-repeat;
	width: 204px;
	height: 27px;
	text-indent: -9999px;
}
#whats:hover {
	background-position: -204px 0;
}


/* コンテンツ
------------------------------------------------------*/
#container {
	background: #FFF url(../img/taso.jpg) no-repeat;
}

#wrapper {
  position: relative;
	margin: 0 auto;
	padding: 20px 1px;
	background: url(../images/common/bg_wrapper.gif) repeat-y;
	width: 960px;
  z-index: 50;
}

#home #wrapper {
	padding: 0 1px;
	background: url(../images/top/bg_wrapper.gif) repeat-y;
}

#member #wrapper {
	padding: 20px 1px 0;
}

/* メインカラム
------------------------------------------------------*/
#mainCol {
	float: none;
	margin: 0 auto;
	padding: 0 0 30px 0;
	width: 900px;
	min-height: 400px;
	background-color: #FFF;
}

#mainCol a:link		{ color: #F00; }
#mainCol a:visited	{ color: #F00; }
#mainCol a:hover	{ color: #FCC; }
#mainCol a:active	{ color: #FCC; }

#home #mainCol {
	float: left;
	padding: 10px;
	width: 736px;
	background-color: inherit;
}


/* グローバルナビ
------------------------------------------------------*/
#gnavi {
	position: absolute;
	left: 171px;
	top: 50px;
	width: 805px;
}
#gnavi li {
	float: left;
	padding: 0 1px 0 0;
}
#gnavi li a {
	display: block;
	/* background: url(../img/hidechannel.png) no-repeat; */
	width: 112px;
	height: 32px;
	text-indent: -9999px;
}

/* ホーム */
a#home {
  position: absolute;
  top: 0;
  left:660px;
  display: block;
  width: 86px;
  height: 27px;
  background:url(../images/common/btn_home.jpg) no-repeat;
	text-indent: -9999px;
}
a#home:hover {
	background-position: right;
}
/* ABOUT */
#gnavi li.gn-about a {
	background-position: 0 0;
}
#about #gnavi li.gn-abou a,
#gnavi li.gn-about a:hover {
	background-position: 0 -32px;
}
/* ニュース */
#gnavi li.gn-news a {
	background-position: -113px 0;
}
#news #gnavi li.gn-news a/*,
#gnavi li.gn-news a:hover*/ {
	background-position: -113px -32px;
}
/* ゲーム */
#gnavi li.gn-game a {
	background-position: -226px 0;
}
#game #gnavi li.gn-game a/*,
#gnavi li.gn-game a:hover*/ {
	background-position: -226px -32px;
}
/* グッズ */
#gnavi li.gn-goods a {
	background-position: -339px 0;
}
#goods #gnavi li.gn-goods a/*,
#gnavi li.gn-goods a:hover*/ {
	background-position: -339px -32px;
}

/* コミュニティ */
#gnavi li.gn-commu a {
	background-position: -452px 0;
}
#commu #gnavi li.gn-commu a/*,
#gnavi li.gn-commu a:hover*/ {
	background-position: -452px -32px;
}

/* ムービー */
#gnavi li.gn-movie a {
	background-position: -452px 0;
}
#movie #gnavi li.gn-movie a/*,
#gnavi li.gn-movie a:hover*/ {
	background-position: -452px -32px;
}
/* イベント */
#gnavi li.gn-event a {
	background-position: -565px 0;
}
#event #gnavi li.gn-event a/*,
#gnavi li.gn-event a:hover*/ {
	background-position: -565px -32px;
}
/* テイルズメンバーズ */
#gnavi li.gn-member a {
	background-position: -678px 0;
}
#member #gnavi li.gn-member a/*,
#gnavi li.gn-member a:hover*/ {
	background-position: -678px -32px;
}

#home #gnavi li.gn-home a,
#news #gnavi li.gn-news a,
#game #gnavi li.gn-game a,
#goods #gnavi li.gn-goods a,
#commu #gnavi li.gn-commu a,
#event #gnavi li.gn-event a,
#member #gnavi li.gn-member a {
	cursor: text;
}


/* フッター
------------------------------------------------------*/
#footer {
  position: relative;
	clear: both;
	margin-top: 1px;
	background: url(../images/common/bg_footer.gif) repeat-x;
  z-index: 100;
}
#footer div {
	margin: 0 auto;
	padding: 14px 10px 10px 10px;
	width: 940px;
}

#footer div img {
	float: right;
	display: block;
}

#footer div p {
	padding: 0;
	float: left;
	width: 750px;
	color: #FFF;
	font-size: 85%;
	line-height: 1em;
}

#fnavi {
	float: left;
	width: 730px;
	height: 45px;
}
#fnavi li {
	float: left;
	padding: 0 1em 0 0;
	line-height: 1em;
}

#fnavi li a:link		{ color: #FC0; }
#fnavi li a:visited	{ color: #FC0; }
#fnavi li a:hover		{ color: #FF6; }
#fnavi li a:active	{ color: #FF6; }

/* バンナム共通フッター
------------------------------------------------------*/
#footer_nbgi {
  position: relative;
	clear: both;
	height: 72px;
	background: url(../images/common/bg_bnfooter.jpg) top center repeat-x;
  z-index: 100;
}
#footer_nbgi div {
	width: 940px;
	height: 72px;
	margin: 0 auto;
}
#footer_nbgi div a {
	width: 195px;
	height: 72px;
	display: block;
	background: url(../images/common/img_nbgi.jpg) top left no-repeat;
	text-indent: -9999em;
}


/* 表示切替リンク
------------------------------------------------------------ */
.view_mode_link {
	text-align: center;
	margin-bottom: -1px;
	padding: 11px 10px 10px;
	background: #105634;
	border-top: 2px solid #105634;
	-webkit-box-shadow: 0 -1px 1px #9c6, 0 1px 1px #fff inset;
	box-shadow: 0 -1px 1px #9c6, 0 1px 1px #fff inset;
	}
	.view_mode_link dl {
		display: inline-block;
		padding: 10px 30px;
		background: #eee;
		border: 1px solid #105534;
		}
		.view_mode_link dt,
		.view_mode_link dd {
			display: inline;
			}
		.view_mode_link dt::after {
			content: ":";
			}
		.view_mode_link dd::after {
			content: "|";
			}
		.view_mode_link dd:last-child::after {
			content: "";
			}
			.view_mode_link dd a,
			.view_mode_link dd span {
				padding: 0 5px 0 0;
				}
			.view_mode_link dd:last-child a,
			.view_mode_link dd:last-child span {
				padding: 0;
				}
		.view_mode_link .current span {
			font-weight: bold;
			}


/* 会員登録
------------------------------------------------------------ */
.introductionArea {
	text-align: center;
	margin: 0;
	padding: 0;
	}
	#member .introductionArea {
		margin: 20px;
		}
	#yoron .introductionArea {
		width: 640px;
		margin: 20px auto;
		}
		#yoron .innerCol2 .introductionArea {
			margin-top: 30px;
			}

	.introductionArea .registMessage {
		margin: 10px;
		padding: 0;
		}
		#member .introductionArea .registMessage {
			font-size: 16px;
			font-weight: bold;
			}
		#yoron .introductionArea .registMessage {
			font-size: 20px;
			font-weight: bold;
			}

	.introductionArea .registLink {
		width: 400px;
		margin: 0 auto;
		padding: 0;
		}
		.introductionArea .registLink .login {
			text-align: right;
			padding: 10px 0 0;
			}
		#member .introductionArea .registLink .login {
			text-align: center;
			padding: 10px 0 0;
			}

#nbgiProductsFooter {
  position: relative;
  z-index: 100;
}

/* 縦長バナー
------------------------------------------------------*/
.bnrLong {
  position: absolute;
  top: 87px;
  left: 50%;
  width: 1282px;
  margin-left: -641px;
  z-index: 1;
}
.bnrLong .bnrLeft {
  float: left;
}
.bnrLong .bnrRight {
  float: right;
}
.fixed {
  position: fixed;
  top: 0;
}


/* テーブル
------------------------------------------------------*/
/* table */
table.tableFormat1 {
	border-left: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-spacing: 0px;
	border-collapse: collapse;
	empty-cells: show;
	margin: 20px auto;
	width: 300px;
}
table.tableFormat1 th {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 3px 5px;
	vertical-align: top;
	background-color: #EAF3E2;
	width: 200px;
	text-align: left;
	font-weight: normal;
	color: #630;
}
table.tableFormat1 td {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 3px 5px;
	vertical-align: top;
	text-align: right;
	font-weight: normal;
	color: #F00;
}




/* 汎用クラス
------------------------------------------------------*/
#wrapper:before,
#wrapper:after,
#wrapCol:before,
#wrapCol:after,
#gnavi:before,
#gnavi:after,
#exCol:before,
#exCol:after,
#footer div:before,
#footer div:after,
#fnavi:before,
#fnavi:after,
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#wrapper:after,
#wrapCol:after,
#gnavi:after,
#exCol:after,
#footer div:after,
#fnavi:after,
.clearfix:after {
    clear: both;
}
#wrapper,
#gnavi,
#exCol,
#footer div,
#fnavi,
.clearfix {
    zoom: 1;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.fl-left { float: left; }
.fl-right { float: right; }

.center { text-align:center; }
.btnCenter {
	display: block;
	width: 200px;
	height: 50px;
	margin: 0 auto;
}

/*マージン・パディング
----------------------------------------------------------------*/
.mg-0 { margin: 0px !important; }
.mg-5 { margin: 5px !important; }
.mg-10 { margin: 10px !important; }

.mgt-0 { margin-top: 0px !important; }
.mgt-5 { margin-top: 5px !important; }
.mgt-10 { margin-top: 10px !important; }
.mgt-15 { margin-top: 15px !important; }

.mgb-0 { margin-bottom: 0px !important; }
.mgb-5 { margin-bottom: 5px !important; }
.mgb-10 { margin-bottom: 10px !important; }
.mgb-15 { margin-bottom: 15px !important; }
.mgb-20 { margin-bottom: 20px !important; }
.mgb-25 { margin-bottom: 25px !important; }
.mgb-30 { margin-bottom: 30px !important; }
.mgb-35 { margin-bottom: 35px !important; }
.mgb-40 { margin-bottom: 40px !important; }
.mgb-45 { margin-bottom: 45px !important; }
.mgb-50 { margin-bottom: 50px !important; }

.pd-0 { padding: 0px !important; }
.pd-5 { padding: 5px !important; }
.pd-10 { padding: 10px !important; }

.pdt-0 { padding-top: 0px !important; }
.pdt-5 { padding-top: 5px !important; }
.pdt-10 { padding-top: 10px !important; }
.pdt-15 { padding-top: 15px !important; }

.pdb-0 { padding-bottom: 0px !important; }
.pdb-5 { padding-bottom: 5px !important; }
.pdb-10 { padding-bottom: 10px !important; }
.pdb-15 { padding-bottom: 15px !important; }

/*テキスト
----------------------------------------------------------------*/
.font-10 { font-size: 77%; }
.font-11 { font-size: 85%; }
.font-12 { font-size: 93%; }
.font-13 { font-size: 100%; }
.font-14 { font-size: 108%; }
.font-15 { font-size: 116%; }
.font-16 { font-size: 123.1%; }
.font-17 { font-size: 131%; }
.font-18 { font-size: 138.5%; }
.font-19 { font-size: 146.5%; }
.font-20 { font-size: 153.9%; }
.font-21 { font-size: 161.6%; }
.font-22 { font-size: 167%; }
.font-23 { font-size: 174%; }
.font-24 { font-size: 182%; }

.font-bold { font-weight: bold; }

.font-red { color: #F00; }
.font-redB { color: #F00; font-weight: bold; }
.font-org { color: #F60; }
.font-orgB { color: #F60; font-weight: bold; }







@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
img {
	vertical-align:top;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}






#mainCol {
	color: #44260B;
}

#mainCol h2 {
	padding: 0 20px;
	background: url(../images/common/bg_index.jpg) top left no-repeat;
	height: 36px;
	color: #FFF;
	font-size: 123.1%;
	font-weight: bold;
	line-height: 36px;
}

#mainCol h3 {
	padding: 0 10px;
	margin: 10px 0;
	background-color: #689D64;
	height: 22px;
	color: #FFF;
	font-size: 100%;
	font-weight: bold;
	line-height: 22px;
	width: 780px;
	clear: both;
}

.innerCol {
	margin: 0 50px 20px;
	padding-bottom: 10px;
}

.innerCol2 {
	margin: 0 50px;
	padding-bottom:30px;
}

.pagetop {
	padding: 0 !important;
	text-align: right;
}

p.copy {
	background: url(../images/common/bg_border01.gif) top left repeat-x;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 85%;
}

.frm1 {
	margin: 0 auto 30px;
	width: 450px;
	padding: 15px;
	background-color: #EAF3E2;
	border: 1px solid #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.frm1 img {
	padding: 10px 0 10px 0;
}

.frm1 img.none {
	padding: 0;
}

.frm2 {
	margin: 0 auto 30px;
	width: 650px;
	padding: 30px;
	background-color: #EAF3E2;
	border: 1px solid #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/* snsボタン用 */
.snsArea {
	display: block;
	margin: 20px 40px;
	text-align: right;
	}
	.snsArea .snsBtn {
		display: block;
		height: 20px;
		}
		.snsArea .snsBtn ul {
			display: block;
			}
			.snsArea .snsBtn ul li {
				display: inline;
				padding-right: 4px;
				}

.imgCenter{
	display:block;
	margin:0 auto;
}

/* 第7回 『テイルズ オブ』キャラクター人気投票2017
------------------------------------------------------*/
#wrapper {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.catch {
  position: absolute;
  text-align: center;
}

/* 概要 */
.about {
  position: relative;
  margin: 48px 0 40px;
  padding: 0 50px 10px;
  background: url(../images/camp/chara_ranking2017/bg_read.jpg) repeat-y;
  color: #525252;
}
.about:before,
.about:after {
  display: block;
  position: absolute;
  left: 0;
  width: 900px;
  content: "";
}
  .about:before {
    top: -48px;
    height: 48px;
    background: url(../images/camp/chara_ranking2017/bg_read_top.jpg) no-repeat;
  }
  .about:after {
    bottom: -18px;
    height: 18px;
    background: url(../images/camp/chara_ranking2017/bg_read_bottom.jpg) no-repeat;
  }
.about .read {
  font-size: 16px;
  text-align: center;
  line-height: 1.6em;
  text-shadow: 0px 0px 3px #CCF0D5;
}
.about .read.comp {
  margin-bottom: 20px;
  font-size: 24px;
}
.about .read strong {
  color: #FF3F00;
  font-weight: bold;
  text-shadow: 0px 0px 3px #FFD9CC;
}
.about .read .note {
  font-size: 12px;
}
.about .period {
  height: 36px;
  margin: 20px 0 10px;
  padding-top: 16px;
  background: #FFF8E1;
  border: 1px solid #FF3F00;
  color: #FF3F00;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.about ul.note li {
  margin-bottom: 0.2em;
  margin-left: 1em;
  text-indent: -1em;
  line-height: 1.2em;
  font-size: 12px;
}

.about .wallPaper {
  padding: 20px 0;
  border-top: 1px dashed #BBB;
  text-align: center;
}
.about .wallPaper .wpSample {
  width: 640px;
  height: 360px;
  border: 1px solid #BBB;
}
.about .wallPaper ul {
  margin-top: 10px;
}
.about .wallPaper li {
  display: inline-block;
  margin: 0 5px;
}
.about .wallPaper li a:hover {
  opacity: 0.6;
}

/* 部門 */
.select {
  text-align: center;
  line-height: 1.8em;
}
.select li {
  margin-top: 50px;
}
.select > li {
  margin: 0 20px 20px;
  padding: 20px 0 30px;
  border: 1px solid #7EE298;
  border-radius: 10px;
}
.select .category {
  margin-top: -14px;
}
.select p {
  margin: 10px 0 14px;
  font-size: 16px;
}
.select a {
  display: block;
  width: 416px;
  height: 88px;
  margin: 0 auto;
  background: url(../images/camp/chara_ranking2017/btn_vote.jpg) no-repeat top;
  text-indent: -9999px;
}
  .select a:hover {
    background-position: bottom;
  }

/* ランキング */
.about .title {
  width: 800px;
  margin-bottom: 10px;
}
.about .subTitle {
  margin: -10px 0 30px;
  text-align: center;
}
.about .subTitle.reincarnation img {
  width: 800px;
}
.about .series {
  margin-top: 20px;
}
.about .series li {
  float: left;
  width: 185px;
  margin: 0 7px 14px;
  text-align: center;
  line-height: 1.2em;
}
.about .series li a {
  display: block;
  margin-bottom: 3px;
  background: url(../images/camp/chara_ranking2017/bg_btn_sries.jpg) no-repeat;
}
.about .series li a:hover {
  opacity: 0.7;
}
.about .freeSpace {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #BBB;
  text-align: center;
  font-size: 16px;
}
.about .freeSpace input {
  width: 390px;
  margin: 12px 0 20px;
  padding: 5px;
}
.about .freeSpace textarea {
  width: 390px;
  height: 5em;
  margin: 5px 0 20px;
  padding: 5px;
}
.about .titSeries {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  background: #FFF8E1;
  text-align: center;
  border-radius: 10px;
}
.about .titSeries img {
  float: right;
}
.about .titSeries span {
  display: table-cell;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.about .vote {
  width: 416px;
  margin: 16px auto 40px;
  line-height: 1.8em;
}
.about .vote li {
  padding: 12px 10px 5px 1.5em;
  font-size: 18px;
  font-weight: bold;
  text-indent: -1em;
  border-bottom: 1px dashed #CCC;
}
.about .vote li input {
  margin-right: 5px;
}
.about .vote li .other {
  margin-left: 10px;
  padding: 5px;
}
.about .vote li textarea {
  width: 100%;
  height: 5em;
  margin-top: 5px;
  padding: 5px;
}
.about .reason {
  width: 416px;
  margin: -30px auto 40px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #CCC;
}

/* スキット */
.about .vote.skit {
  width: 800px;
  margin: 16px auto 40px;
}
.about .vote.skit li a {
  display: block;
  width: 252px;
  height: 44px;
  margin: 5px 0;
  background: url(../images/camp/chara_ranking2017/btn_summary.jpg) no-repeat;
  text-indent: -9999px;
}
.about .vote.skit li a:hover {
  background-position: bottom;
}
#summary {
  max-width: 760px;
  padding: 20px;
  background: #FFF;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
#summary .subTitle {
  text-align: center;
}
#summary .subTitle img {
  width: 100%;
  max-width: 760px;
}
#summary .read {
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 3px #CCF0D5;
}
#summary p {
  margin-bottom: 8px;
  line-height: 1.7em;
}
#summary span {
  border-bottom: 1px dotted #CCC;
}

.fancybox-skin,
.fancybox-outer,
.fancybox-inner {
  border-radius: 20px;
}

/* 戻るボタン */
.btnBack {
  text-align: center;
}
.btnBack li {
  display: inline-block;
  margin: 0 20px;
}
.btnBack a:hover {
  opacity: 0.8;
}

/* その他 */
.palace {
  display: block;
  width: 720;
  margin: 0 auto;
}
.logout {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.fancybox-margin {
  margin-right: 0 !important;
}




body#user {
	/* width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; */
  /* 画像ファイルの指定 */
  background-image: url(../img/taso2.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

}

 body#nontaso {
	/* width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; */
	/* 画像ファイルの指定 */
  background-image: url(../img/taso2.jpg);



}

table#login {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

body#manager {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
  /* 画像ファイルの指定 */
  background-image: url(../img/taso.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

h1 {
	text-align: left;
	background-color: #baddf9;
	font-weight: bold;
}


table.table-design {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    width: 180%;
    height: 80%;
    border-spacing: 0;
}


.parent{
  padding: 10px;
  text-align: center;
  width: 400px;
}
.inner{
   display:inline-block;
   padding:10px;
}
.tablecell{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 250px;
  margin: 20px;
}




